/* Featured Card */

@media (max-width: 768px) {
  .featured-cards-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Footer */

@media (max-width: 768px) {
  footer {
    padding: 40px 50px;
  }
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-main .links {
    justify-content: center;
  }
}
